
body{
    background-color: rebeccapurple;
}
.main{
    display: flex;
    margin:  auto;
    width: 70%;
    margin-top: 40px;
}
form{
    background-color: white;
        padding: 40px;

}
.division2{
    background-image: url("images/image8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
}
.division1{
    width: 40%;
}
